version: "3"

services:
  #  flask:
  #    image: flask-test2
  ##    #build: .
  #    container_name: flask
  #    privileged: true
  #    ports:
  #      - "5000:5000"
  ##    volumes: #?
  ##      - .:/usr/src/apps/todo/
  #    depends_on:
  #      - postgres

  flask:
    image: flask-test2
    #    #build: .
    container_name: flask
    privileged: true
    ports:
      - "5000:5000"
    #    volumes: #?
    #      - .:/usr/src/apps/todo/
    depends_on:
      - postgres


  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "6500:5432"
    volumes:
      - tasksDB:/var/lib/postgresql/data/
    env_file:
      - ./.env

  pgAdmin:
    image: dpage/pgadmin4
    container_name: pgAdmin
    env_file:
      - ./.env
    ports:
      - "5050:80"
#    volumes:
#      - pgAdmin:/var/lib/pgAdmin/
volumes:
  tasksDB:
#  pgAdmin:
