{% extends 'layout.html' %}

{% block content %}
    {{ super() }}
    {#    <div class="d-flex flex-column min-vh-100 align-items-center">#}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                {% for task_block in tasks %}
                    <h2 class="text-warning text-uppercase text-center">{{ tasks_scheduled_on[loop.index0] }}</h2>
                    <div class="border border-2 border-warning rounded m-3 p-3">
                        <ul class="list-inline">
                            {% for task in task_block %}
                                <li>
                                    <a href="{{ url_for('task_to_archive', task_id=task.id) }}"><i
                                            class="fa-regular fa-circle fa-lg"
                                            style="color: #000000;"></i></a>
                                    {{ task.title }}
                                    <a href="{{ url_for('remove_task', task_id=task.id) }}"><i
                                            class="fa-solid fa-xmark fa-lg"
                                            style="color: #f52424;"></i></a>
                                    <a href="{{ url_for('detail_view_task', task_id=task.id) }}"><i
                                            class="fa-solid fa-circle-info fa-lg" style="color: #74C0FC;"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <form class="row row-cols-lg-auto g-2" action="{{ url_for('add_task') }}" method="post">
                            <div class="col">
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                                       name="{{ "task" + loop.index|string }}"
                                       placeholder="Напишите задачу...">
                            </div>
                            <div class="col">
                                <input class="btn btn-warning mb-2" type="submit" value="Добавить">
                            </div>
                    </div>

                    </form>

                {% endfor %}
            </div>
            <div class="col"></div>
        </div>
    </div>
    {#                <h2>Сегодня</h2>#}
    {#                <ul>#}
    {#                    {% for task in tasks1 %}#}
    {#                        <li><a href="/to_archive/{{ task.id }}">В архив</a> {{ task.title }} <a#}
    {#                                href="/remove/{{ task.id }}">Удалить</a>#}
    {#                            <a href="/detail/{{ task.id }}">Изменить</a></li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#                <form action="/add" method="post">#}
    {#                    <input type="text" name="task1" placeholder="Напишите задачу...">#}
    {#                    <input type="submit" value="Добавить">#}
    {#                </form>#}
    {##}
    {#                <h2>Завтра</h2>#}
    {#                <ul>#}
    {#                    {% for task in tasks2 %}#}
    {#                        <li><a href="{{ url_for('task_to_archive', task_id=task.id) }}">В архив</a> {{ task.title }} <a#}
    {#                                href="/remove/{{ task.id }}">Удалить</a> <a#}
    {#                                href="/detail/{{ task.id }}">Изменить</a></li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#                <form action="/add" method="post">#}
    {#                    <input type="text" name="task2" placeholder="Напишите задачу...">#}
    {#                    <input type="submit" value="Добавить">#}
    {#                </form>#}
    {##}
    {#                <h2>На этой неделе</h2>#}
    {#                <ul>#}
    {#                    {% for task in tasks3 %}#}
    {#                        <li><a href="{{ url_for('task_to_archive', task_id=task.id) }}">В архив</a> {{ task.title }} <a#}
    {#                                href="/remove/{{ task.id }}">Удалить</a> <a#}
    {#                                href="/detail/{{ task.id }}">Изменить</a></li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#                <form action="/add" method="post">#}
    {#                    <input type="text" name="task3" placeholder="Напишите задачу...">#}
    {#                    <input type="submit" value="Добавить">#}
    {#                </form>#}
    {##}
    {#                <h2>Бессрочно</h2>#}
    {#                <ul>#}
    {#                    {% for task in tasks4 %}#}
    {#                        <li><a href="{{ url_for('task_to_archive', task_id=task.id) }}">В архив</a> {{ task.title }} <a#}
    {#                                href="/remove/{{ task.id }}">Удалить</a> <a#}
    {#                                href="/detail/{{ task.id }}">Изменить</a></li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#                <form action="/add" method="post">#}
    {#                    <input type="text" name="task4" placeholder="Напишите задачу...">#}
    {#                    <input type="submit" value="Добавить">#}
    {#                </form>#}

    </div>
{% endblock %}
{#<a href="/archive/">Архив задач</a>#}
{##}
{#<h3>{{ email }}</h3> <a href="{{ url_for('logout') }}">Выйти из аккаунта</a>#}

{#{% else %}#}
{#    <h1>Вы не авторизовались</h1>#}
{#    <a href="{{ url_for('login') }}">Войти</a>#}
{#    <a href="{{ url_for('register') }}">Регистрация</a>#}
{#{% endif %}#}

{#<div>#}
{#    {% if email %}#}
{#        <h3>{{ email }}</h3> <a href="{{ url_for('logout') }}">Выйти из аккаунта</a>#}
{#    {% else %}#}
{#        <a href="{{ url_for('login') }}">Войти</a>#}
{#    {% endif %}#}
{#</div>#}

