<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App - авторизация</title>
</head>
<body>
{#<form action="" method="post">#}
{#    <div class="mb-3">#}
{#        <label for="exampleInputEmail1" class="form-label">Email address</label>#}
{#        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>#}
{#    </div>#}
{#    <div class="mb-3">#}
{#        <label for="exampleInputPassword1" class="form-label">Password</label>#}
{#        <input type="password" class="form-control" id="exampleInputPassword1">#}
{#    </div>#}
{#    <div class="mb-3 form-check">#}
{#        <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#        <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#    </div>#}
{#    <button type="submit" class="btn btn-primary">Submit</button>#}
{#</form>#}
<form action="" method="post" class="form-contact">
    {{ form.hidden_tag() }}
    {{ form.email.label() }} {{ form.email() }}
    {{ form.psw.label() }} {{ form.psw() }}
    {{ form.remember.label() }} {{ form.remember() }}
    {{ form.submit() }}
    <a href="{{ url_for('register') }}">Регистрация</a>
</form>

{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

</body>
</html>
